* {
  margin: 0;
}

#ui_elements {
  display: none;
}

html {
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

#main_content {
  width: 95vw;
  min-height: 95vh;
}
#main_content .top_container {
  margin: 5vh 2.5vw 0 2.5vw;
  width: 95vw;
  display: flex;
}

#main_content .bottom_container {
  display: flex;
  flex-direction: column;
  margin: 5vh 2.5vw 0 2.5vw;
  width: 95vw;
  article {
    margin-bottom: 5vh;
  }
}

button {
  cursor: pointer;
}

article {
  background-color: #343434;
  min-height: 40vh;
  width: 90vw;
  border-style: solid;
  border-width: 5px;
  border-color: #16acda;
  border-radius: 10px;
}

@media (min-width: 900px) {
  #main_content .top_container {
    max-height: 45vh;
    article {
      width: 95vw;
    }
  }
  #main_content .bottom_container {
    flex-direction: row;
    justify-content: space-between;
    max-height: 45vh;
  }
  #main_content .bottom_container article {
    width: 29.5vw;
  }
}
