#current_que_app {
  h2 {
    text-align: center;
    margin: 2vh 0 0 0;
  }
}

#que_container {
  overflow-y: scroll;
  min-height: 35vh;
  padding: 4vw 3vw 3vw 3vw;
  
}

#main_content .bottom_container #current_que_app #que_container article {
  all: initial;
  display: flex;
  background-color: #5e676a;
  border-radius: 10px;
  margin-bottom: 3vw;
  height: 8.43vh;
  justify-content: start;
  align-items: center;
  padding-left: 2.8vh;
  h5 {
    margin-left: 7vw;
    max-width: 100%;
    white-space: nowrap;
  }
  h3 {
    width:100%;
    text-align: end;
    margin-right: 3vw;
    white-space: nowrap;
  }
}

@media (min-width: 900px) {
  #current_que_app #que_container {
    min-height: 29vh;
    height: 29vh;
    padding: 0vh 1vw 0vh 1vw;
    margin-top: 2.5vh;
  }
  #current_que_app {
    h2 {
      height: 41.5px;
      margin-top: 2.5vh;
    }
  }
  
  #main_content .bottom_container #current_que_app #que_container article {
    max-width: 27vw;
    margin-bottom: 1.5vh;
    padding-left: 1.2vw;
    h5 {
      margin-left: 2vw;
      max-width: 50%;
    }
    h3 {
      width:100%;
      text-align: end;
      margin-right: 1vw;
      white-space: nowrap;
    }
  }
}
