#top_5_beers_app :nth-child(2) {
  display: flex;
  flex-direction: row;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  :first-child {
    margin-right: auto;
  }
}

#top5Content {
  margin-top: 2.5vh;
}

#top5Content div {
  display: flex;
  flex-direction: row;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  h4 {
    margin-right: auto;
  }
}
