#worker_status_app {
  padding: 4vw 3vw 3vw 3vw;
  div {
    background-color: #5e676a;
    border-radius: 10px;
    margin-bottom: 3vw;
    height: 8.43vh;
  }
  div:last-child {
    margin-bottom: 0;
  }
}

#worker_status_app div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    div:first-child {
        all:initial;
        display:flex;
        height: 6vh;
        width: 6vh;
        background-color: #c4c4c4;
        border-radius: 10px;
        margin-left: 1.4vh;
    }
    div:last-child {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-left: 5vw;
    }
}
